<h1>{{ title }}</h1>

<form [formGroup]="form" (ngSubmit)="submit()" >
    <label>Nome: </label><br />
    <input type="text" name="nome" formControlName="nome" /><br />

    <label>Email: </label><br />
    <input type="email" name="email" formControlName="email" /><br />

    <label>Senha: </label><br />
    <input type="password" name="senha" formControlName="senha" /><br />

    <label>Repita a Senha: </label><br />
    <input type="password" name="repeteSenha" formControlName="repeteSenha" /><br />

    <button type="submit">Enviar</button>
</form>